{% extends 'news/default.html' %}
{% load custom_filters %}
{% load i18n %}


{% block head_title %}
{% trans "Поиск и сортировка новостей" %}
{% endblock head_title %}

{% block content %}
<!-- Перед таблицей добавим форму для поиска -->
<form method="GET">
    <p style="text-align: center;"><font size="2">{{ filter.form }}<input type="submit" value="Найти"></font></p>
</form>



<div class="row">
    <div class="col-lg-8 col-xl-10 mx-auto">
        {% if search_list %}
        <table width="100%" cellspacing="0" cellpadding="4">
            <tr>
                <td>
                    <p style="text-align: center;"><strong>{% trans "Автор" %}</strong></p>
                <td>
                <td>
                    <p style="text-align: center;"><strong>{% trans "Категория" %}</strong></p>
                <td>
                <td>
                    <p style="text-align: center;"><strong>{% trans "Заголовок" %}</strong></p>
                <td>
                <td>
                    <p style="text-align: center;"><strong>{% trans "Дата" %}</strong></p>
                <td>
                <td>
                    <p style="text-align: center;"><strong>{% trans "Рейтинг" %}</strong></p>
                <td>
                <td>
                    <p style="text-align: center;"><strong>{% trans "Действие" %}</strong></p>
                <td>
            <tr>
                {% for post in filter.qs %}
            <tr>
                <td>
                    <p style="text-align: center;">{{ post.post_author }}</p>
                <td>
                <td>
                    <p style="text-align: center;">{{ post.post_categories }}</p>
                <td>
                <td width="3000">
                    <a style="text-align: center;" href="{{ post.id }}"> {{ post.headline|censor }}</a>
                <td>
                <td width="2000">
                    <p style="text-align: center;">{{ post.date_create }}</p>
                <td>
                <td>
                    <p style="text-align: center;">{{ post.post_rating }}</p>
                <td>
                <td>
                    <a style="text-align: center;" href="{% url 'post_update' post.id %}"><u>{% trans "Редактировать" %}</u></a>
                    <a style="text-align: right;" href="{% url 'post_delete' post.id %}"><u>{% trans "Удалить" %}</u></a>
                <td>
            <tr>
                {% endfor %}
        </table>
        {% endif %}
    </div>
</div>

<hr>
{% endblock content %}