{% extends 'news/default.html' %}
{% load i18n %}


{% block head_title %}
{% trans "Редактировать статью" %}
{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xl-10 mx-auto">
            <h1 style="text-align: center;">{% trans "Редактировать статью" %}</h1><br>
            <form style="text-align: center;" method="POST">
                {% csrf_token %}

                {{ form.post_author }}<br>
                <br>
                {{ form.headline }}
                <br>
                {{ form.post_text }}
                <br>
                {{ form.post_category }}
                <br>
                <br>
                <input type="submit" value="Внести изменения">
            </form>
        </div>
    </div>
</div>
{% endblock content %}