{% extends 'accounts/base_profile.html' %}
{% load i18n %}


{% block head_title %} Кабинет пользователя {% endblock head_title %}

{% block header %}{% trans "Редактировать профайл" %}{% endblock header %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xl-4 mx-auto">
            <form style="text-align: center;" method="POST">
                {% csrf_token %}
                <h4 style="text-align: center;">{% trans "Логин" %}</h4>
                {{ form.username }}
                <h4 style="text-align: center;">{% trans "Имя" %}</h4>
                {{ form.first_name }}
                <h4 style="text-align: center;">{% trans "Фамилия" %}</h4>
                {{ form.last_name }}
                <h4 style="text-align: center;">{% trans "Дата рождения" %}</h4>
                <input type="date" placeholder="дата рождения" class="form-control" name="birth_date">
                <h4 style="text-align: center;">{% trans "Почтовый ящик" %}</h4>
                {{ form.email }}<br>

                <button class="btn btn-success" type="submit">{% trans "Сохранить" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
