{% extends "board/base.html" %}
{% load custom_filters %}
{% load i18n %}

<style>
    .round {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
</style>


{% block head_title %}
{{ block.super }} : Личный кабинет
{% endblock head_title%}

{% block add_category %}
{%endblock add_category %}

{% block body %}

<h2 style="text-align: center;">Кабинет пользователя</h2><br>
<div style="text-align: center; margin-top: 15px;">

    <table border="1" width="80%" cellpadding="5" style="float: center">
        <tr>
            <td class="td_profile" rowspan="5">
                {% if user.photo %}
                <img src="{{ user.photo.url }}" width="200" height="222">
                {% else %}
                <a href="{% url 'edit_profile' %}">Загрузите <br> фото</a>
                {% endif %}
            </td>
            <td class="td_profile">{% trans "Ваш логин" %}</td>
            <td class="td_profile h6">{{user.username}}</td>
        </tr>
        <tr>
            <td class="td_profile">{% trans "Имя" %} &nbsp;</td>
            <td class="td_profile h6">{{user.first_name}}</td>
        </tr>
        <tr>
            <td class="td_profile">{% trans "Фамилия" %}</td>
            <td class="td_profile h6">{{user.last_name}}</td>
        </tr>
        <tr>
            <td class="td_profile">{% trans "Почта" %}</td>
            <td class="td_profile h6">{{user.email}}</td>
        </tr>
        <tr>
            <td class="td_profile">ID номер</td>
            <td class="td_profile h6">{{user.id}}</td>
        </tr>
        <tr>
            <td class="td_profile h6">{% trans "Аватарка" %}</td>
            <td class="td_profile">{% trans "Подписки" %}</td>
            <td class="td_profile h6">{{ category }}</td>
        </tr>
    </table>
    <br>
    <a class="btn btn-success " style="float: center" href="{% url 'edit_profile' %}">Редактировать профиль</a>
    <hr>

    {% if your_posts %}
    <h4 style="text-align: center; margin-top: 50px;">Ваши публикации:</h4><br>
    <table width="100%" cellspacing="0" cellpadding="4">
        <tr>
            <td>
                <p style="text-align: center;"><strong>{% trans "Заголовок" %}</strong></p>
            </td>
            <td>
                <p style="text-align: center;"><strong>{% trans "Дата публикации" %}</strong></p>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="accept_response1" value="1"
                        class="dropdown-item">Принять</button>
                </form>
            </td>
            <td>
                <p style="text-align: center;"><strong>{% trans "Новые отклики" %}</strong></p>
            </td>
            <td>
                <p style="text-align: center;"><strong>{% trans "Принятые отклики" %}</strong></p>
            </td>
        </tr>
        <tr>
            {% for post in your_posts %}
            <td>
                <a href="{% url 'post_detail' post.id %}" style="text-align: center;">{{post.headline}}</a>
            </td>
            <td style="text-align: center;">
                <p style="text-align: center;">{{ post.date_create }}</p>
            </td>
            <td style="text-align: center;">
                {% for responser in post|get_responsers %}
                <div class="dropdown-item">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">{{responser}}</a>
                    <ul class="dropdown-menu">
                        <li>
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" name="accept_response" value="{{responser}} {{post.id}}"
                                    class="dropdown-item">Принять</button>
                            </form>
                        </li>
                        <li>
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" name="deny_response" value="{{responser}} {{post.id}}"
                                    class="dropdown-item">Отклонить</button>
                            </form>
                        </li>
                    </ul>
                </div>
                {%endfor%}
            </td>
            <td style="text-align: center;">
                {% for accepted_responser in post|get_accepted_responses %}
                <p style="text-align: center;">{{ accepted_responser }}</p>
                {%endfor%}
            </td>
        </tr>
        {% endfor %}
    </table>
    {%endif%}

</div>
{%endblock%}