{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}
{{ block.super }} : Регистрация
{% endblock head_title%}

{% block add_category %}
{%endblock add_category %}

{% block body %}
<div style align="center" class="col-lg-6 col-md-10 mx-auto ">
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
{%endblock body%}
